<a href="https://colab.research.google.com/github/Sayem2004/python-basics/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming basics in python

### Numbers (int & float)

In [ ]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"
print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"

x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
# Practices
y = 4
print(type(y))
print(y)
print(y+1)
print(y-1)
print(y*3)
print(y**3)
print(y**2)
y -= 3
print(y)

y *= 5
print(y)
y += 6
print(y)

y = 2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'int'>
4
5
3
12
64
16
1
5
11
<class 'float'>
2.5 3.5 5.0 6.25

### Booleans

In [ ]:
t = True
f = False
print(type(t)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

In [ ]:
#Practices
t = True
f = False
print(type(t))
print(t and f)

<class 'bool'>
False

### String

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("""Print
Multiple
Lines
""")

Print
Multiple
Lines

In [ ]:
print('I can\'t believe it!')
print("I can't believe it!")

I can't believe it!
I can't believe it!

In [ ]:
a = 10
print(f'The value of a is {a}')

The value of a is 10

In [ ]:
a = 10
print(f'The value of a plus 5 is {a+5}')

The value of a plus 5 is 15

In [ ]:
a = 5

print(f'a is {a}') # Preferred method for this course.
print('a is {}'.format(a))
print('a is ' + str(a))
print('a is %d %d' % (a, a))

a is 5
a is 5
a is 5
a is 5 5

### Condition checking

In [ ]:

a = 5
b = 6

if a==5:
    print('The variable a is 5')
    if b==6:
        print('The variable b is also 6')
elif a==6:
    print('The variable a is 6')
else:
    print('anything')

The variable a is 5
The variable b is also 6

### Looping

In [ ]:
for x in range(1, 10):  # If you ever see xrange, you are in Python 2
    print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,1,-1):
    # range(start (optional, default 0), end (exclusive), inc/dec (optional, default 1))
    print('test: ', i)

test:  10
test:  9
test:  8
test:  7
test:  6
test:  5
test:  4
test:  3
test:  2

In [ ]:
acc = 0
for x in range(1, 10):
    print(f"{acc} + {x} =  ", end="")
    acc += x
    print(acc)

print(f"Final sum: {acc}")

0 + 1 =  1
1 + 2 =  3
3 + 3 =  6
6 + 4 =  10
10 + 5 =  15
15 + 6 =  21
21 + 7 =  28
28 + 8 =  36
36 + 9 =  45
Final sum: 45